html {
	font-size: 14px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

// Override variables for light theme
:root {
	--neutral: var(--neutral-500);

	--btnMain: var(--sky-500);
	--btnMainLight: var(--sky-200);

	--badgeMain: var(--emerald-600);
	--badgeMainLight: var(--emerald-200);

	--btnSec: var(--violet-600);
	--btnSecLight: var(--violet-200);

	--reflectShadow: 178, 152, 220;
}


html.light {
	--mainAccent: var(--white);
	--main: var(--light-500);
	--mainWeakAnti: var(--light-50);
	--aside: var(--white);

	--antiMain: var(--dark-500);
	--antiMainAccent: var(--black);
}

// Override variables for dark theme
html.dark {
	--mainAccent: var(--black);
	--main: var(--dark-500);
	--mainWeakAnti: var(--dark-50);
	--aside: var(--zinc-800);

	--antiMain: var(--light-500);
	--antiMainAccent: var(--white);
}
